body{
  font-family: Arial, sans-serif;
  margin:0;
  background: #f5f7fa;
  text-align:center;
}

h1{
  font-size:40px;
  margin-top:40px;
}

p{
  color:#555;
}

a{
  display:inline-block;
  margin:10px;
  padding:10px 20px;
  background:#007BFF;
  color:white;
  text-decoration:none;
  border-radius:8px;
}

a:hover{
  background:#0056b3;
}

button{
  padding:12px 20px;
  margin-top:10px;
  border:none;
  border-radius:8px;
  background:#28a745;
  color:white;
  cursor:pointer;
}

button:hover{
  background:#1e7e34;
}